/***

====================================================================
        Contact
====================================================================

***/
.contact-details__info {
  position: relative;
  display: block;
  margin-top: 41px;
  li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .icon {
      height: 80px;
      width: 80px;
      background-color: var(--theme-color1);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      border-radius: 50%;
      span {
        color: var(--white);
        font-size: 25px;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
      }
    }
    .text {
      h6 {
        margin-bottom: 5px;
        margin-top: 0;
      }
    }
    &:hover {
      .icon {
        background-color: var(--theme-color2);
        span {
          color: var(--white);
        }
      }
      .text {
        a {
          color: var(--notech-base);
          span {
            color: var(--notech-gray);
          }
        }
      }
    }
    .text {
      margin-left: 30px;
      p {
        font-size: 14px;
        line-height: 24px;
      }
      a {
        font-size: 18px;
        color: var(--notech-black);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      span {
        font-size: 20px;
        color: var(--notech-black);
      }
    }
  }
  li+li {
    margin-top: 30px;
  }
}
.map{
  height: 550px;
}

.form-control,
.input-text {
  background-color: #f4f5f8;
  border: 1px solid #f4f5f8;
  color: #686a6f;
  font-size: 0.9rem;
  height: calc(2.25rem + 27px);
  outline: 0;
  padding: 14px 30px;
  width: 100%;
}
textarea.form-control{
  height: auto;
}